<!DOCTYPE html>
<html>
    <head>

        <title>Hello Angular JS</title>        
        <script src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body data-ng-app="myapp">

        <div data-ng-controller="MyController">
            <form action="pdf_newsletter" method="get">
                User ID : <input type="text" id="input" name="userID"
                                 data-ng-model="userID" /> <br /> Page Name: <input type="text"
                                 id="input" name="pageName" data-ng-model="pageName" /> <br /> <input
                                 type="submit" id="submit" value="Submit" />
            </form>

        </div>


    </body>
</html>
